<div class="logo"> {% filter block_shade %}
         ███             ███             ███    
       ███░            ███░            ███░     
     ███░            ███░            ███░       
   ███░            ███░            ███░         
 ███░            ███░            ███░           
██░            ███░            ███░            █
░            ███░            ███░            ███
            ░░░             ░░░             ░░░ 
     ███   _         ███             ███_       
   ███░___| |__   __█_░_ __ _____  ____| |      
 ███░ / __| '_ \ / _` | '__/ _ \ \/ / _` |      
██░   \__ \ | | | (_| | | |  __/>  < (_| |     █
░     |___/_|█|_|\__,_|_|  \___/_/\_\__,_|   ███
           ███░            ███░            ███░ 
         ███░            ███░            ███░   
        ░░░             ░░░             ░░░     
 ███             ███             ███            
██░            ███░            ███░            █
░            ███░            ███░            ███
           ███░            ███░            ███░ 
         ███░            ███░            ███░   
       ███░            ███░            ███░     {% endfilter %}
</div>
